        
            <div class="mb-3 text-center">
                &copy; Task 2024
            </div>

        </div>
        <script>
            function run() {
                $.ajax({
                    url: "/enddatecheck",
                    type: "GET",
                    data: "",
                    dataType: "text",
                    success: (res, status, http) => {
                        if(res) {
                        }
                    }
                });

                console.log("Hello, World");
            }

            //setTimeout(run, 600);

            function setup() {
                //setTimeout(run, 600);\
                setInterval(run, 30000);
            }
        </script>
    </body>
</html>