<!DOCTYPE html>
<html data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <title>TaskIT</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/style.css" rel="stylesheet">
        <script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script type="text/javascript" src="/js/mustache.js"></script>

    </head>

    <body onload="setup()">
        <div class="container">
        
        <div class="mb-3">
            <h1>TaskIT</h1>
        </div>