<!DOCTYPE html>
<html data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <title>Tasks</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
    </head>
    
    <body>
        <div class="container">
        
        <div class="mb-3">
            <h1>Tasks</h1>
        </div>