<%- include("includes/header.ejs") %>


<div class="mb-3">
    Are you sure you want to delete this task "?"

    Warning this is a irreversable!
</div>

<div class="mb-3">
    <form action="/delete/<%= task.id %>" method="post">
        <input type="submit" value="Yes" class="btn btn-danger" /> | 
        <input type="button" value="No" onclick="history.back()" class="btn btn-primary" />
    </form>
</div>
<div class="mb-3">
    <a href="/">Back to Index</a>
</div>

<%- include("includes/footer.ejs") %>