<%- include("includes/header.ejs") %>

<!-- This section will contain link buttons to go to different sections -->
<div class="mb-3">
    <a href="#" class="btn btn-primary">Edit</a> | <a href="#" class="btn btn-danger">Delete</a>
</div>
<!-- This section will view the -->

<!-- This little form will be used to finalize task or reinable it. -->

<!-- This form will allow for the users to post -->

<!-- This will display all the comments on the given task. -->

<div class="mb-3">
    <a href="/">Back to Index</a>
</div>
<%- include("includes/footer.ejs") %>